:root {
  --night: #0b090aff;
  --eerie-black: #161a1dff;
  --blood-red: #660708ff;
  --cornell-red: #a4161aff;
  --cornell-red-2: #ba181bff;
  --imperial-red: #e5383bff;
  --silver: #b1a7a6ff;
  --timberwolf: #d3d3d3ff;
  --white-smoke: #f5f3f4ff;
  --white: #ffffffff;
}

button{
  background-color: transparent;
}

body {
  background-color: black;
}

#myDIV {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-bar-mid {
margin-top: 5%;
}

#validation{
color: var(--cornell-red-2);
  font-family: "Lato", sans-serif;
}

h2, h3, h4, h5, p {
  font-family: "Source Code Pro", monospace;
}

h1, h3{
  font-weight: 700;
  letter-spacing: -1px;
  font-family: "Lato", sans-serif;
}

p, h5{
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, p{
  color: var(--timberwolf);
}

.second-line-index{
  letter-spacing: -2px;
}

.diff-color{
  color: var(--cornell-red-2);
}

.logo-div{
  margin-left: 2vh;
  display: flex;
  justify-content: left;
  align-items: baseline;
  font-family: "Lato", sans-serif;
  text-shadow: -2px 2px 0px var(--blood-red),
                -3px 3px 0px var(--cornell-red-2);
  animation: roll-me 7s infinite;
}

@keyframes roll-me {
  50%{
  transform: scale(102%);
    translate: 1%;
  }
  100%{
    transform: scale(100%);
  }
}

.logo-small{
  color: var(--timberwolf);
  font-size: 4vh;
writing-mode: vertical-lr;
  margin: 0;
  border-left: 1px solid var(--timberwolf);
}

.logo{
  color: var(--timberwolf);
  font-size: 15vh;
}

.logo-i {
  transform: translateX(-20%);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}

#myCard{
  height: 40vh;
}

.card{
  background-color: transparent;
  backdrop-filter: blur(10px);
  background-image: linear-gradient(
    120deg,
    #d3d3d330,
    #00000020
  );
  border-radius: 50px;
  border: 1px solid var(--eerie-black) ;
}

#card-left {
  background-image: linear-gradient(
          330deg,
          #ffffff20,
          #00000020
  );
  border: 1px solid var(--night);
}

#card-right {
  background-image: linear-gradient(
          30deg,
          #ffffff20,
          #00000020
  );
  border: 1px solid var(--night);
}

#card-bottom {
  background-image: radial-gradient(farthest-corner at 50% 0%, #ffffff20, #00000020);
  border: 1px solid var(--night);
}

.my-footer{
  position: absolute;
  bottom: 0;
  right: 0;
}

.d-flexetc{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text{
  font-size: 3vh;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.display-none{
  display: none;
}

#all-page{
  background-color: var(--night);
  min-height: 100vh;
}


.titles-card{
  color: var(--cornell-red);
  font-weight: 800;
  font-family: "Source Code Pro", monospace;
  letter-spacing: -1px;
}

.myHeader{
  width: 100%;
  background-color: var(--eerie-black);
  backdrop-filter: blur(20px);
}


.myFooterResult{
  width: 100%;
  padding-top: 2vh;
  background-color: var(--eerie-black);
}

svg:hover {
  transition-duration: 0.7s;
  transform: scale(110%);
}

.shapes-6 {
  width: 5vh;
  height: 5vh;
  color: var(--cornell-red);
  position: relative;
  background:
    linear-gradient(currentColor 0 0) center/100% 10px,
    linear-gradient(currentColor 0 0) center/10px 100%;
  background-repeat: no-repeat;
}

.shapes-6:before {
  content:'';
  position: absolute;
  inset: 0;
  background:
    linear-gradient(currentColor 0 0) 0    0,
    linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 0    100%,
    linear-gradient(currentColor 0 0) 100% 100%;
  background-size:15.5px 15.5px;
  background-repeat: no-repeat;
  animation: sp6 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes sp6 {
   33%  {inset:-10px;transform: rotate(0deg)}
   66%  {inset:-10px;transform: rotate(90deg)}
   100% {inset:0    ;transform: rotate(90deg)}
}

#hiddenFormSpinner, #anotherToHide{
  display: none;
}
