
html,
body {
  height: 100%;
}


.progress-container {
  height: 0.8rem;
  width: 30%;
  border-radius: 0.4rem;
  background: #000;
}

.progress-container .progress {
  height: 100%;
  width: 0;
  border-radius: 0.4rem;
  background: #ff4754;
  transition: width 0.4s ease;
}
