<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>

#myDIV {
display: none;
}
#spinning{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<body>

<div id="myDIV">We are working on it
<div id="spinning">

</div>
</div>

 <form  method="post">
  {{ form.csrf_token }}
  {{ form.video_link }}
     {{ form.submit(onmousedown="myFunction()") }}
 </form>

{{ request.method == 'POST' }}

{% if form.video_link.data is not none %}
 <p>We are processing video</p>
{% endif %}
<br>

<script>

function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
    </script>


</body>
</html>