<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<link rel="stylesheet" href="">
<style>

#myDIV {
display: none;
}
#spinning{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<body>
<h1 popover id="myheader">Hello</h1>




<div id="myDIV">We are working on it
<div id="spinning">

</div>
</div>

 <form  method="post" id="theForm">
  {{ form.csrf_token }}
  {{ form.video_link(id="numb")}}
  <button type="button" onclick="myFunction()">Submit</button>
  <p id="demo"></p>
 </form>
{% if form.video_link.data is not none %}
<h2> Title</h2>
{% for line in summary %}
<p>{{ line }}</p>
{% endfor %}

<h2> Title2</h2>
<p>{{ summary2 }}</p>
{% endif %}
<script>
function myFunction() {
  // Get the value of the input field with id="numb"
  let x = document.getElementById("numb").value;
  // If x is Not a Number or less than one or greater than 10
  let text;
  let result = x.includes("https://www.youtube.com/watch?");
  let result1 = x.includes("https://youtu.be");
  console.log(x)
  console.log(result)
  console.log(result1)
  if ((result || result1) != true) {
    text = "Input not valid";
  } else {
    document.getElementById('theForm').submit();

  }
  document.getElementById("demo").innerHTML = text;
}

</script>


</body>
</html>